.below-nav{
    margin-top: 60px;
}

.vheight-100{
    min-height: 100vh;
}

.form{
    margin-top: 10%;
    margin-left: auto;
}

.immEpisodio {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px #343a40;
}

.center {
    justify-content: center;
    position: relative;
    margin: auto;
    margin-top: auto;
    width: 50%;
    border: 3px solid #343a40;
    padding: 10px;
}

.centerLog {
    justify-content: center;
    position: relative;
    margin: auto;
    margin-top: 20%;
    width: 50%;
    border: 3px solid #343a40;
    padding: 10px;
}

/* Add task button */
.fixed-right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1030;
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 50%;
}